<div class="container-fluid">
  <div class="row">

      <div class="col-sm-2 col-md-4">
        <div class="product-box">
          <div class="product-image">
              <%= image_tag(product.image_url, class: "img-responsive") %>
          </div> <!--end product-image-->

          <h1><%= product.name %></h1>
          <p><%= product.description %></p>
          <p>Colour selection: <%= product.colour %></p>
          <hr>
          <strong>Price $<%= product.price %></strong>
        </div><!--end product-box-->
      </div><!-- /col -->

  </div><!--end row-->
</div><!--end container-fluid-->