<p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <%= f.label :body, "Comments" %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <div class="rating"></div>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>

  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

<p>
  <strong>Highest rating:</strong>
  <%= @product.highest_rating_comment %>
</p>

<p>
  <strong>Lowest rating:</strong>
  <%= @product.lowest_rating_comment %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
