<p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image URL:</strong>
    <%= @product.image_url %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>


  <p>
    <strong>Average Rating: </strong> 
    <div class="rated" data-score="<%= @product.average_rating %>">
    </div> 
  </p>

  <p>
    <strong>Highest rating:</strong>
    <%= @product.highest_rating_comment.rating %>
    <%= @product.highest_rating_comment.body %>
  </p>

  <p>
    <strong>Lowest rating:</strong>
    <%= @product.lowest_rating_comment.rating %>
    <%= @product.lowest_rating_comment.body %>
  </p>
  <%= render 'comments' %>
  <%= render 'new_comment' %>
  
  <div class="page-numbers col-sm-12">
    <%= will_paginate @comments %>
  </div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
