<p id="notice"><%= notice %></p>

<div class="row" data-product-id="<%= @product.id %>">
  
  <div class="col-xs-12 col-md-6">
    <%=image_tag(@product.image_url, class: "img-responsive detail img-zoom", data_zoom_image: "@product.image_url_large", id: "product_image") %>
    </div> <!--end img-responsive class-->

     <div class="col-xs-12 col-md-6">
    <h2 class="product-title">

    <!--add caching around product section ex6.11-->
    <!--remove later if not needed-->

   <!--was % cache @product do %-->
      <h4><%= @product.name %></h4>
      <p>
  
      <strong>Description:</strong>
        <%= @product.description %>
      </p>
  
      <p>
        <strong>Price: $ </strong>
        <span class="glyphicons glyphicons-usd"></span><%= @product.price %>
      </p>
  
      <p>
        <strong>Colour:</strong>
          <%= @product.colour %>
      <p>
  <!--% end -%--> <!--removed caching-->

      Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
    </p>  

<!--entire section of code-->

<!--no longer using redis for counter-->
    <h6>          
      Views:
        <span class="badge">
          <%= @product.views %>
        </span>
    </h6> 
        <!--% end %-->


    <p>
      <strong>Highest rating:</strong>
        <%= @product.highest_rating_comment.rating %>
        <%= @product.highest_rating_comment.body %>
    </p>
    
    <p>
      <strong>Lowest rating:</strong>
        <%= @product.lowest_rating_comment.rating %>
        <%= @product.lowest_rating_comment.body %>
    </p>

  <!--Stripe Pay with Card button-->
  <%= form_tag "/payments/create" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
  <!--hidden field allows me to access this in payments_controller.rb -->
  <%= hidden_field_tag(:product_id, @product.id) %>
  <% end %>


    </div><!--end class column-->
  </div><!--end class row-->
 
 <!--alert from channels/product_channel.rb and we show it in app/javascript/channels/products.js--> 
<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

  <%= render 'comments' %>
  <%= render 'new_comment' %>
  
  <div class="page-numbers col-sm-12">
    <%= will_paginate @comments %>
  </div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
