<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>

    <!--Link Bootstrap file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!--Links to the application.css file -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Link Bootstrap Java file -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--allows app to act responsivly on mobile device -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <%= csrf_meta_tags %>
  </head>

  <body>
  	<div class="container-fluid">
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
	  <ul>
	    <li>Home</li>
	    <li><%= link_to "About Page", @about %></li>  
	    <li><%= link_to "Contact Page", @contact %></li>     
	  </ul>

    <!--uses Devise's user signed in helper-->
    <ul class="nav pull-right">
      <li>
        <% if user_signed_in? %>
<<<<<<< HEAD
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
=======
          <%= link_to('Logout', destroy_user_session_path, :method => delete) %>
>>>>>>> authentication
        <% else %>
          <%= link_to('Login', new_user_session_path) %>
        <% end %>
      </li>
    </ul>


    <%= form_tag("/products", method: "get") do %>
    <%= label_tag(:q, "Search here:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
	</nav>
	</div>

  <!--Flash messages/ displays a welcome message-->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

	<%= yield %>


	

	<footer>
	  &copy; 2017 Boston Bikes
	</footer> <br>


  </body>
</html>
